@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Arte y Estampas saturnales <a target="_blank" href="https://www.instagram.com/ranapeluffo12/">AyrtonPR12</a></h4>
<h5>© Todos los derechos reservados</h5>
<h6>Axioma principal de esta porfia: "Mientras el carro anda, los melones se acomodan."</h6>
<div>
    <a class="btn btn-primary" asp-action="Index"><i class="far fa-hand-point-left"></i> Volver a Inicio</a>
</div>