@{
    ViewData["Title"] = "Acceso Restringido";
}
<h1>@ViewData["Title"]</h1>

<h4>Usted no posee los permisos necesasrios para acceder.</h4>
<div>
    <a asp-action="Index">Volver a Inicio</a>
</div>